extends base.pug
block title 
    title About Us
    block style 
        style 
                include ../static/about.css
block content 
    section#para
             p#pa1  Dance teaches us the significance of movement and fitness in a variety of ways through a selection of disciplines. It helps us learn to coordinate muscles to move through proper positions. Moreover, it is a great activity to pursue at almost any age.
             p#pa2  Dance is also called the hidden language of the soul as we use it to express ourselves when words fall short. The joy which comes with dancing helps us get over our sorrow and adversity sometimes.

                |  Moreover, it is simply a translator for our hearts. What is most important to remember is that dance is not supposed to be perfect. There is no right way of dancing, as long as your heart is happy, you can dance.
             p#pa3  All in all, dance is something which anyone can do. There is no right way or wrong way to dance, there is just a dance. The only hard part is taking the first step, after that, everything becomes easier. So, we must always dance our heart out and let our body move to the rhythm of music freely.   
             p#pa4 HEALTH BENEFITS OF DANCING
             div#mydiv
                p#pa5.paAll Improved condition of your heart and lungs.
                p#pa6.paAll Increased muscular strength, endurance and motor fitness.
                p#pa7.paAll Increased aerobic fitness.
                p#pa8.paAll Improved muscle tone and strength.