extends base.pug
block title 
    title home 
    block style 
        style 
            include ../static/style.css
block content
   
    section#pictureSection 
         h1#h “The moment is everything. Don't think about tomorrow; don't think about yesterday: think about exactly what you're doing right now and live it and dance it and breath it and be it.” — Wendy Whelan, American ballet dancer
    section#sponserSection
        h1#heading-1 Our Mission
        div.container
            div.card#card1 Dance Perfection
                p#p1 There are shortcuts to happiness, and dancing is one of them.” — Vicki Baum      
                p#p2 “Dancing is like dreaming with your feet!”  — Constanze Mozart 
                p#p3 “The body says what words cannot.” — Martha Graham
            div.card#card2 Dance the way you like 
                p#p4 To watch us dance is to hear our hearts speak.” — Indian Proverb
                p#p5 “He who cannot dance puts the blame on the floor.” — Hindu Proverb
                p#p6 “To be fond of dancing was a certain step towards falling in love.” — Jane Austen
            div.card#card3 Expert Teaching
                p#p7 “Dance first. Think later. It's the natural order.” — Samuel Beckett
                p#p8 “When you dance, you can enjoy the luxury of being you.” — Paulo Coelho
                p#p9 “Dancing is silent poetry.” — Simonides
    section#ourMission
        h1#sponserheading Our Sponser
        div#con3
            img#amazon(src="../static/ebay.png", alt="Amazon")
            img#ebay(src="../static/youtube.png", alt="Ebay")
            img#flipkart(src="../static/flipkart.png", alt="Flipkart")
            img#google(src="../static/google.png", alt="Google")
    
    


    
